* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	border: 1px solid #1d272f;
	background-color: #1d272f;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #1d272f;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAA;	
}

::-webkit-scrollbar-corner {
  background: #1d272f;
}

::-webkit-resizer {
  background: #1d272f;
}

pre {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 12px;
}

h2.teal {
  color: #26343e;
  background-color: #00b9a0;
}
h2.magenta {
  color: #26343e;
  background-color: rgba(255, 0, 255, 0.692);
}

h2 {
  margin: 0px;
  padding-left: 10px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

body {
  margin: 0;
  font: 12px/1.5 Arial, Helvetica, sans-serif;
  background: #1d272f;
  color: #FFFFFF;
  text-align: left;
  scrollbar-color: #AAA #1d272f;
}

.wrap {
  width: auto;
  padding-top: 40px;

  display: grid;
  grid-template-columns: 70% 5px auto; /* 100px auto 200px*/
  grid-template-rows: auto 250px;
  height: 100vh;
}

/* Create three unequal columns that floats next to each other */
.column {
  /*float: left;*/
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;

  border: 1px solid #00b9a0;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Left column
.column.leftside {
  border: 1px solid rgba(255, 0, 255, 0.692);
  display: inline;
  grid-column: 1;
} */

/* Middle column */
.column.middle {
  display: flex;
  flex-direction: column;
  min-height: 0;
  grid-column: 1; /* 2 */
}

/* right column */
.column.rightside {
  display: flex;
  flex-direction: column;
  min-height: 0;
  grid-column: 3; /* 3 */
  resize: both;
  overflow: auto;
  /*display: none;*/
}

.splitter {
  grid-column: 2;
  cursor: col-resize;
  background-color: #00b9a0;
  width: 5px;
  height: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

/* Style the footer */
.footer {
  text-align: left;
  border: 1px solid rgba(255, 0, 255, 0.692);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-bottom: 16px;

	grid-row:   2;
	grid-column-start: 1;
	grid-column-end:   4;/* 4 */

	display: grid;
  grid-template-rows: auto 52px;

  resize: both;
  overflow: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  grid-row: 2;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  transition: 0.3s;
}

ul.tabs {
  padding: 0px 0;
  font-size: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;

  /*used for scroll bar*/
  overflow-x: scroll;
  white-space: nowrap;
}

ul.tabs li {
  display: inline-flex;
  margin: 0;
  margin-right: 3px;
}

ul.tabs li a {
  font: 12px Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  padding: 7px 8px;
  outline: none;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover {
  position: relative;
  top: 0px;
  font-weight: underline;
  padding-right: -5px;
  color: #000;/*#FFFFFF;*/
  background: #aaa;
}

/* Style the tab content */
div.tabcontents {
  padding: 6px 12px;
  height: 100%;
  background: #000;
  grid-row: 1;
  overflow-y: auto;

}

.closeable {
  background-image: url('../img/close.png');
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  right: -4px;
  top: 4px;
}

.tabcontents .unselected {
  display: none;
}

.network {
  flex: 1;
  overflow: hidden;
  display: flex;
  min-height: 0;
}

.network object {
  width: 100%;
  height: 100%;
}

.controlInput {
  background-color: #000;
  border: none;
  outline: none;
  padding: 7px 8px;
  transition: 0.3s;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
}

.controlBtn {
  background-color:  rgba(255, 0, 255, 0.192);
  border: none;
  outline: none;
  padding: 7px 8px;
  transition: 0.3s;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.controlBtn:hover {
  background-color: rgba(255, 0, 255, 0.692);
}

.controlBtn:active {
  transition: 0s;
  background-color: #F1F;
}


.myModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #26343e;
    opacity: 0.5;
    display: none;
}

.myPop {
    position: absolute;
    display: none;
}

.myPop-title {
    margin: 0px;
    padding-left: 10px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #26343e;
    background-color: rgba(255, 0, 255, 0.692);
/*  height: 20px;
    padding: 5px;*/

    cursor: move;
}

.myPop-close {
    padding-right: 10px;
    float: right;
    cursor: pointer;
}

.myPop-content {
    min-width: 400px;
    min-height: 200px;
    background: #26343e;
    padding: 5px;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
}




